.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home,
.cart {
  margin: 2rem;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.all-items-div {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  justify-items: center;
  justify-content: center;
  align-items: center;
}

nav {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}

.nav-option {
  text-decoration: none;
  font-size: 2rem;
  color: inherit;
}

.item {
  text-align: center;
  border: solid 2px black;
  margin: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid;
  box-shadow: 5px 5px;
  transition: 200ms;
  width: 60%;
}

.item:hover {
  box-shadow: 10px 10px red;
}

.item > * {
  margin: 0.5rem;
}

.item-image {
  height: 100%;
  width: 100%;
}

.item-btn,
.remove-btn {
  align-items: center;
  background-color: black;
  color: white;
  font-weight: bolder;
  height: 3rem;
  width: 10rem;
  font-size: 1rem;
  border: 0px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.item-btn:hover,
.remove-btn:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.order-btn {
  margin: 2rem;
}

.flags {
  font-size: 2rem;
}

/* cart page/item styling */

.no-items {
  margin-top: 10rem;
  font-size: 4rem;
}

.cart-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-item {
  border: 5px solid black;
  margin: 1rem;
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px;
  transition: 200ms;
}

.cart-item:hover {
  box-shadow: 10px 10px red;
}

.cart-item > * {
  margin: 1rem;
  width: 70%;
}

.cart-item-img {
  width: 50%;
}

.quantity-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 1rem;
}

.quantity-setting > * {
  margin: 0rem;
  padding: 2px 1rem;
  border: 1px solid black;
  /* border-radius: 0px 10px; */
}

.quantity-setting > button {
  background-color: white;
  border: none;
  font-weight: bolder;
  font-size: 1rem;
  margin: 0rem;
  cursor: pointer;
  border: 1px solid black;
}

.plus-btn {
  border-radius: 10px 0px 0px 10px;
}

.minus-btn {
  border-radius: 0px 10px 10px 0px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .all-items-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .item {
    width: 70%;
  }

  h1 {
    font-size: 3rem;
  }

  .nav-option {
    font-size: 2rem;
  }

  .cart-item {
    width: 70%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cart-item > * {
    margin: 0.5rem;
    width: 100%;
  }

  .cart-item-img {
    width: 90%;
  }
}
